* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/* border: 5px solid gray; */
	height: 100vh;
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 0.5em;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(228, 225, 225);
	border-radius: 0.5em;
}

#root {
	height: 100%;
}

body {
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
